@use '../helpers' as *;

.bordered-grid{
    --columns: 1;
    --paddingSizeY: #{fluid(80, 40)};

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);

    &__2-cols{
        --columns: 2;
        --paddingSizeX: #{rem(80)};
        .bordered-grid__item {
            padding-block: var(--paddingSizeY);
        }

        @include laptop {
            --paddingSizeX: #{rem(50)};
        }

        @include mobile-above {
            .bordered-grid__item {
                padding-block: var(--paddingSizeY);

              &:nth-child(odd) {
                padding-right: var(--paddingSizeX);
                border-right: var(--border);
              }
      
              &:nth-child(even) {
                @include full-vw-centered-line(
                    bottom,
                    auto,
                    100%,
                    50%
                );
                padding-left: var( --paddingSizeY);
              }
            }
        }

        @include mobile{
            --columns: 1;
            .bordered-grid__item{
                &:not(:last-child){
                    border-bottom: var(--border);
                }
            }
        }
    }

    &__3-cols{
        --columns: 3;
        --paddingSizeX: #{rem(50)};
        .bordered-grid__item{
            padding-block: fluid(80, 40);

        }

        @include laptop{
            --paddingSizeX: #{rem(40)};
        }


        @include tablet-above{
            .bordered-grid__item{
                align-items: center;
    
                // Choosing first and second columns paddings
    
               &:nth-child(3n-2),
               &:nth-child(3n-1){
                padding-right: var(--paddingSizeX);
                border-right: var(--border);
               }
    
               &:nth-child(3n-1){
                @include full-vw-centered-line(bottom);
               }
    
                // Choosing third and second columns paddings
    
               &:nth-child(3n-1),
               &:nth-child(3n){
                padding-left: var(--paddingSizeX);
               }
            }
     
        }

        @include tablet{
            --columns: 1;
            .bordered-grid__item{
                &:not(:last-child){
                    border-bottom: var(--border);
                }
            }
        }
        
    }
}