@use '../helpers' as *;

.bordered-grid{
    --columns: 1;
    --itemPaddingY: #{fluid(80, 40)};

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);

    &__2-cols{
        --columns: 2;
        --itemPaddingX: #{rem(80)};
        .bordered-grid__item {
            padding-block: var(--itemPaddingY);
        }

        @include laptop {
            --itemPaddingX: #{rem(50)};
        }

        @include mobile-above {
            .bordered-grid__item {
                padding-block: var(--itemPaddingY);

              &:nth-child(odd) {
                padding-right: var( --itemPaddingX);
                border-right: var(--border);
              }
      
              &:nth-child(even) {
                @include full-vw-centered-line(
                    bottom,
                    auto,
                    100%,
                    50%
                );
                padding-left: var( --itemPaddingY);
              }
            }
        }

        @include mobile{
            --columns: 1;
            .bordered-grid__item{
                &:not(:last-child){
                    border-bottom: var(--border);
                }
            }
        }
    }

    &__3-cols{
        --columns: 3;
        --itemPaddingX: #{rem(50)};

        column-gap: calc(var(--itemPaddingX)*2);

        .bordered-grid__item{
            padding-block: fluid(80, 40);
        }

        @include laptop{
            --itemPaddingX: #{rem(40)};
        }


        @include tablet-above{
            .bordered-grid__item{
                align-items: center;
    
                // Choosing first and second columns paddings
    
               &:nth-child(3n-2),
               &:nth-child(3n-1){
                position: relative;

                &::after {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: calc(100% + var(--itemPaddingX));
                  width: rem(1);
                  height: 100%;
                  background-color: var(--color-dark-15);
                }
              
               }
    
               &:nth-child(3n-1){
                @include full-vw-centered-line(bottom);
               }
    
                // Choosing third and second columns paddings
    
              
            }
     
        }

        @include tablet{
            --columns: 1;
            .bordered-grid__item{
                &:not(:last-child){
                    border-bottom: var(--border);
                }
            }
        }
        
    }

    &__4-cols{
        --columns: 4;
        --itemPaddingX: #{rem(50)};

        column-gap: calc(var(--itemPaddingX) * 2);

        @include laptop {
        --itemPaddingX: #{rem(30)};
        }

        @include tablet-above {
        .bordered-grid__item {
            /**
            1,2,3, columns
            */
            &:nth-child(4n - 3),
            &:nth-child(4n - 2),
            &:nth-child(4n - 1) {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: calc(100% + var(--itemPaddingX));
                width: rem(1);
                height: 100%;
                background-color: var(--color-dark-15);
            }
            }
        }
        }

        @include tablet {
        --columns: 2;
        }


    }

    &__2-cols,
    &__4-cols {
      @include mobile {
        --columns: 1;
  
        .bordered-grid__item:not(:last-child) {
          border-bottom: var(--border);
        }
      }
    }
  
    &__item {
      padding-block: var(--itemPaddingY);
    }
}