@use '../helpers/' as * ;

.table-of-contents{
    padding: rem(20);
    background-color: var(--color-dark-10);
    border-radius: rem(12);

    @include laptop {
        padding: rem(18);
        border-radius: rem(10);
    }

    &__list{
        list-style-type: unset;
        display: grid;
        row-gap: rem(20);
        font-size: fluid(18, 14);
        margin-left: rem(20);
        

        @include laptop {
            row-gap: rem(16);
        }

    }
}